code/SampleProgramToInterface/sonar-project.properties
code/SampleProgramToInterface/.gradle/5.2.1/gc.properties
code/SampleProgramToInterface/.gradle/5.2.1/executionHistory/executionHistory.bin
code/SampleProgramToInterface/.gradle/5.2.1/executionHistory/executionHistory.lock
code/SampleProgramToInterface/.gradle/5.2.1/fileChanges/last-build.bin
code/SampleProgramToInterface/.gradle/5.2.1/fileContent/fileContent.lock
code/SampleProgramToInterface/.gradle/5.2.1/fileHashes/fileHashes.bin
code/SampleProgramToInterface/.gradle/5.2.1/fileHashes/fileHashes.lock
code/SampleProgramToInterface/.gradle/5.2.1/fileHashes/resourceHashesCache.bin
code/SampleProgramToInterface/.gradle/5.2.1/javaCompile/classAnalysis.bin
code/SampleProgramToInterface/.gradle/5.2.1/javaCompile/jarAnalysis.bin
code/SampleProgramToInterface/.gradle/5.2.1/javaCompile/javaCompile.lock
code/SampleProgramToInterface/.gradle/5.2.1/javaCompile/taskHistory.bin
code/SampleProgramToInterface/.gradle/buildOutputCleanup/buildOutputCleanup.lock
code/SampleProgramToInterface/.gradle/buildOutputCleanup/cache.properties
code/SampleProgramToInterface/.gradle/buildOutputCleanup/outputFiles.bin
code/SampleProgramToInterface/.gradle/vcs-1/gc.properties
code/SampleProgramToInterface/.idea/.gitignore
code/SampleProgramToInterface/.idea/.name
code/SampleProgramToInterface/.idea/compiler.xml
code/SampleProgramToInterface/.idea/gradle.xml
code/SampleProgramToInterface/.idea/jarRepositories.xml
code/SampleProgramToInterface/.idea/misc.xml
code/SampleProgramToInterface/.idea/vcs.xml
code/SampleProgramToInterface/build/classes/java/main/com/sample/bad/A.class
code/SampleProgramToInterface/build/classes/java/main/com/sample/bad/B.class
code/SampleProgramToInterface/build/classes/java/main/com/sample/bad/C.class
code/SampleProgramToInterface/build/classes/java/main/com/sample/bad/D.class
code/SampleProgramToInterface/build/classes/java/main/com/sample/good/A.class
code/SampleProgramToInterface/build/classes/java/main/com/sample/good/AInterface.class
code/SampleProgramToInterface/build/classes/java/test/com/sample/bad/ATest.class
code/SampleProgramToInterface/build/classes/java/test/com/sample/good/AInterfaceSpy.class
code/SampleProgramToInterface/build/classes/java/test/com/sample/good/ATest.class
